
div.navbar{
	overflow: hidden;
	z-index: 1;
	margin-top:-10px;
	margin-left: -10px;
    padding: 0px;
	height: 90px;
	width: 1370px;
	background-color: rgb(95, 95, 95);
	position: fixed;  
}

div.navbar img{
	position: absolute;
	margin-left: 20px;
	margin-top: 5px;
}

div.navbar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.navbar li{	
	color:white;
	height: 25px;
	margin-top: 50px;
	margin-right: -1px;
	padding-right: 40px;
	padding-left: 30px;
	float: right;
	border-width: 2px;
	border-right-style: solid;	
}

div.navbar a{	
	font-family: Century Gothic;
	font-size: 15px;
	color: white;
	text-decoration: none;
}

div.navbar a:hover{
	background-color: none;
	color: DarkGray;	
}

div.navbar a:active{
	background-color: none;
	color: black;	
}



div.firstpage {
	z-index: -1;
	position: relative;
}

div.firstpage img{
	margin-top: 75px;
	margin-left: -10px;
	width: 1370px;
	height: 565px;
	opacity: 0.9;
}

div.hometitle p{
	margin: auto;
	position: absolute;
    color: white;
	bottom: 180px;
	left: 300px;
	font-family: Century Gothic;
	font-size: 80px;
	font-weight: bold;
	border: 10px;
	border-color: white;
	border-style: double;
	padding: 50px;
}




div#aboutme {
	margin-top: 0px;
	margin-left: -10px;
	position: relative;
	height: 700px;
	width: 1370px;
	background-color: rgb(245, 245, 245);
}

div.aboutmetitle {
	position: absolute;
	font-weight: bold;
	font-family: Century Gothic;
	font-size: 50px;
	text-align: center;
	color: rgb(95, 95, 95);
	margin-top: 70px;
	margin-left: 380px;
}

div.aboutmebody p{
	position: absolute;
	font-family: Century Gothic;
	font-size: 15px;
	text-align: left;
	color: rgb(50, 50, 50);
	margin-top: 270px;
	margin-left: 400px;
}

div.aboutmebody img {
	position: absolute;
	height: 500px;
	width: 400px;
	margin-top: 170px;
	margin-left: 0px;
}

a.knowmore{
	position: absolute;
	font-family: Century Gothic;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: rgb(50, 50, 50);
	margin-left: 200px;
	margin-top: 40px;
	border-width: 1px;
	border-top-style: solid;	
	border-bottom-style: solid;	
	border-color: rgb(50, 50, 50);
	padding: 5px;
}

a.knowmore:hover{
	background-color: none;
	color: DarkGray;	
}

div.aboutmequote{
	position: absolute;
	float: right;
	margin-top: 0px;
	margin-left: 1060px;
	height: 650px;
	width: 300px;
}

div.aboutmequote img{
	position: absolute;
	height: 700px;
	width: 310px;
	opacity: 0.7;
}

div.aboutmequote p{
	color: black;
	position: absolute;
	font-family: Anisha Free;
	font-size: 60px;
	opacity: 0.8;
	margin-top: 150px;
	margin-left: 60px;
}

.psalms{
	font-size: 35px;
	margin-left: 50px;
}




div#allaboutme{
	margin-top: 0px;
	margin-left: -10px;
	position: relative;
	height: 900px;
	width: 1370px;
}

div.personalinformation{
	position: relative;
	height: 500px;
	width: 690px;
	background-color: rgb(129, 170, 198);
	margin-left: -10px;
}

div.personalinfotitle{
	position: absolute;
	font-family: Century Gothic;
	font-size: 28px;
	font-weight: bold;
	color: white;
	margin-top: 70px;
	margin-left: 160px;
	text-align: center;
}

div.personalinfotitle img{
	position: absolute;
	height: 28px;
	width: 35px;
	margin-top: 5px;
	margin-left: -40px;
}

.pi_hr{
	color: white;
	width: 350px;
	border-style: solid;
	height: 1px;
}

div.personalinfo{
	position: absolute;
	font-family: Century Gothic;
	font-size: 18px;
	text-align: left;
	color: white;
	margin-top: 180px;
	margin-left: 110px;
}




div.education{
	position: absolute;
	height: 500px;
	width: 690px;
	background-color: #c5dded;
	margin-left: 680px;
	margin-top: -500px;
	opacity:0.5;
}

div.educationtitle {
	position: absolute;
	font-family: Century Gothic;
	font-size: 28px;
	font-weight: bold;
	color: black;
	margin-top: 70px;
	margin-left: 140px;
	text-align: center;
}

div.educationtitle img{
	position: absolute;
	height: 40px;
	width: 40px;
	margin-top: 0px;
	margin-left: -45px;
}

.ea_hr{
	color: black;
	width: 400px;
	border-style: solid;
	height: 1px;
}

div.educationalattainment{
	position: absolute;
	font-family: Century Gothic;
	font-size: 17px;
	text-align: left;
	color: black;
	margin-top: 180px;
	margin-left: 110px;
}




div.aspiration{
	position: relative;
	height: 520px;
	width: 920px;
	margin-left: 0px;
	margin-top: 0px;
	background-color: pink;
	opacity:0.5;
}

div.aspirationtitle {
	position: absolute;
	font-family: Lucida Calligraphy;
	font-size: 35px;
	font-weight: bold;
	color: black;
	margin-top: 40px;
	margin-left: 280px;
	text-align: center;
}

div.aspirationtitle img{
	position: absolute;
	height: 50px;
	width: 50px;
	margin-top: -5px;
	margin-left: -50px;
}

.a_hr{
	color: black;
	width: 350px;
	border-style: solid;
	height: 1px;
}

div.aspirationbody{
	position: absolute;
	font-family: Lucida Calligraphy;
	font-size: 17px;
	text-align: left;
	color: black;
	margin-top: 210px;
	margin-left: 50px;
	letter-spacing: 1px;
	text-align: center;
}




div.skills{
	position: relative;
	height: 520px;
	width: 450px;
	margin-left: 920px;
	margin-top: -520px;
	background-color: #e45e74;
	opacity:0.7;
}

div.skillstitle {
	position: absolute;
	font-family: Century Gothic;
	font-size: 30px;
	font-weight: bold;
	color: white;
	margin-top: 60px;
	margin-left: 110px;
	text-align: center;
}

div.skillstitle img{
	position: absolute;
	height: 40px;
	width: 45px;
	margin-top: -5px;
	margin-left: -50px;
}

.s_hr{
	color: white;
	width: 220px;
	border-style: solid;
	height: 1px;
}

div.skillsbody{
	position: absolute;
	font-family: Century Gothic;
	font-size: 17px;
	text-align: left;
	color: white;
	margin-top: 180px;
	margin-left: 80px;
}