
div.navbar{
	margin-top:-10px;
	margin-left: -10px;
    padding: 0px;
	height: 90px;
	width: 1370px;
	background-color: gray;
	position: fixed;
}

div.navbar img{
	margin-left: 20px;
	margin-top: 5px;
}

div.navbar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.navbar li{	
	color:white;
	height: 25px;
	margin-top: 50px;
	margin-right: -1px;
	padding-right: 40px;
	padding-left: 30px;
	float: right;
	border-width: 2px;
	border-right-style: solid;	
}

div.navbar a{	
	font-family: Calibri;
	font-size: 18px;
	color: white;
	text-decoration: none;
}

div.navbar a:hover{
	background-color: none;
	color: DarkGray;	
}

div.navbar a:active{
	background-color: none;
	color: black;	
}



div.firstpage {
	z-index: -1;
	position: relative;
}

div.firstpage  p{
	margin: auto;
	position: absolute;
    color: white;
	bottom: 180px;
	left: 300px;
	font-family: Tahoma;
	font-size: 80px;
	border: 10px;
	border-color: white;
	border-style: double;
	padding: 50px;
}

div.firstpage img{
	margin-top: 80px;
	margin-left: -10px;
	width: 1370px;
	height: 565px;
	opacity: 0.9;
}